<%- include('partials/header', { title: 'Employee' }) %>


<h1 style="text-align: center; color:darkred">Betamidi CMS</h1>
   

<div class="container">
   <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <a href="">
         <button type="button" class="btn btn-warning">Middle</button>
      </a>

      <a href="">
         <button type="button" class="btn btn-warning">Middle</button>
      </a>

      <a href="">
         <button type="button" class="btn btn-warning">Middle</button>
      </a>

      <a href="">
         <button type="button" class="btn btn-warning">Middle</button>
      </a>

      <a href="">
         <button type="button" class="btn btn-warning">Middle</button>
      </a>
   </div>
</div>


<div class="container"></div>
   <div class="container d-flex justify-content-center">
      <div class="row">

         <div class="col-md-12">
            <table class="table table-sm">
               <thead class="table-dark">
                  <tr>
                     <th>Name</th>
                     <th>Position</th>
                     <th>Salary</th>
                     <th>Store's Code</th>
                     <th style="text-align: center;">Action</th>
                  </tr>
               </thead>
               <tbody>

                     <tr>
                        <td>
                           Toko Pak Edy
                        </td>
                        <td>
                           022-129309124789162
                        </td>
                        <td>
                           Tangerang Selatan
                        </td>
                        <td>
                           Midi
                        </td>
                        <td>
                           <a href=""><button type="button"
                                 class="btn btn-warning">Delete</button></a>
                        </td>
                     </tr>
                     
               </tbody>
            </table>
         </div>
      </div>
   </div>















<%- include('partials/footer') %>